{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search by ingredients or recipe name">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    {% if items %}
        <div class="container">
            <div class="row">
                {% for item in items %}
                    <div class="card m-1 " style="width: 18rem;">
                      <img src="{{ item.image }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <a href="{% url 'show_recipe' item.id %}" class="btn btn-primary">View Recipe</a>
                      </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock %}
