{% extends 'base.html' %}
{% block content %}
    <div class="card" style="width: 18rem;">
      <img src="{{ recipe.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="card-text">{{ recipe.summary }}.</p>
      </div>
      <ul class="list-group list-group-flush">
          {% for ingredient in recipe.ingredient_set.all %}
                  <li class="list-group-item">Name: {{ingredient.name}}. Amount: {{ingredient.amount}}</li>
          {% endfor %}

      </ul>
      <div class="card-body">
        <a href="{% url 'add_recipe' recipe.id %}" class="card-link">Save to my Cookbook</a>
      </div>
    </div>

{% endblock %}
